            <div class="promo-hdr" id="oostate-block">
              <div id="price" style="padding-bottom:50px;">
                <div class="price-header">Out-of-State Sticker price (2025-26)</div>
                    <div class="price-label" id="ooo-sticker-price" style="width:100%;text-align:center"></div>
                    <div class="fine-print">What we project the school will advertise as the cost of attendance for out-of-state students living
                      <span class="sticker-living">on-campus</span> 
                    </div>
              </div>
          
        </div> <!-- /promo-inner -->
        <div class="promo-bdr promo-bdr--bottom"></div>