

<?php Header("Cache-Control: max-age=3000, must-revalidate"); ?>
<!DOCTYPE html>
<html lang="en" class="no-js">
<head prefix='og: http://ogp.me/ns#'>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P7263Q9H');</script>
  <!-- End Google Tag Manager -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2DBQW0NLND"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2DBQW0NLND');
  gtag('config', 'UA-4160749-12');
</script>
<meta content="college tuition,college costs,how much will college cost" name="keywords" />

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta content="Revelar del costo verdadero de la universidad con Tuition Tracker, una herramienta de The Hechinger Report." name="description" />
<title>Tuition Tracker</title>
<meta property="og:url" content="http://www.tuitiontracker.org" />
<meta property="og:title" content="Tuition Tracker"/>
<meta property="og:description" content="Revelar del costo verdadero de la universidad con Tuition Tracker, una herramienta de The Hechinger Report." name="description"/>
<meta property="og:image" content="http://www.tuitiontracker.org/images/tuitiontracker.gif"/>
<meta property="og:image:height" content="345"/>
<meta property="og:image:width" content="596"/>
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@hechingerreport" />
<meta name="twitter:creator" content="@hechingerreport" />
<meta name="twitter:title" content="Tuition Tracker" />
<meta name="twitter:description" content="Revelar del costo verdadero de la universidad con Tuition Tracker, una herramienta de The Hechinger Report."/>
<meta name="twitter:image" content="http://www.tuitiontracker.org/images/tuitiontracker.gif">

<script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Tuition Tracker",
        "url": "http://www.tuitiontracker.org",
        "thumbnailUrl": "http://www.tuitiontracker.org/images/tuitiontracker.gif",
        "dateCreated": "2018-04-30T00:00:00Z",
        "articleSection": "&lt;Section&gt;",
        "creator": ["Peter D'Amato"],
        "keywords": ["college tuition","college costs","how much will college cost"]
      }
</script>

<meta property="og:keywords" content="college tuition,college costs,how much will college cost"/>

<meta name="news-keywords" content="college tuition,college costs,how much will college cost"/>

  <!-- End Custom Meta Data -->

  <meta property="fb:app_id" content="<<client FB app id>>"/>
  <meta property="fb:page_id" content="<<client FB page id>>"/>
  <meta property="fb:admins" content="<<client FB admins id>>"/>

  <!-- <link rel="shortcut icon" type="image/x-icon" href="../images/_tt-favicon.png"/> -->
  <link href='//fonts.googleapis.com/css?family=Lato:100,300,700,900|PT+Serif:400,400italic,700,700italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../css/styles-bundle.css?v=2" />

  <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>

  <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
  <link rel="manifest" href="/images/site.webmanifest" />
  <meta name="msapplication-TileColor" content="#ffffff">
  <!-- <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"> -->
  <meta name="theme-color" content="#ffffff">
  
<link rel="canonical" href="http://www.tuitiontracker.org" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/js/all.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>

</script>

<style>
  body {
    background-color: #f9de86;
  }
</style>

<script>
  window.fbAsyncInit = function () {
    FB.init({
      appId: '<<EWA or Hechinger FB appId here>>', //change this out with EWA appId
      xfbml: true,
      version: 'v2.5'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>


</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P7263Q9H"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header class="branding">
    <div class="wrapper">
        

        
      <div class="site-branding">
      <a href="https://hechingerreport.org/" class="custom-logo-link" rel="home"><img style="width: 240px" class="custom-logo" src="../images/Hechinger_logo_blk.png"></a>
      </div><!-- .site-branding -->

      <div class="donate">
        <a href="https://hechingerreport.fundjournalism.org/tuition-tracker/?amount=15&campaign=701VK00000EtCOfYAN&frequency=monthly" class="donate-logo-link">
          <img src="../images/donate-larger.png" class="donate-logo"/>
        </a>
      </div>
    </div>      
  </header>  

  <article id="content">

<section class="content-well clearfix" id="intro">
  <div class="share-btns" id="language-share">
    <a href="/">In English</a>
  </div>

  <div id="progress-box">
    <header class="your-selections">Has seleccionado:</header>
    <ul>
      <li class="chosen-state"><i class="fas fa-thumbtack"></i>&nbsp;<span>No se hizo una selección</span></li>
      <li class="chosen-degree"><i class="fas fa-graduation-cap"></i>&nbsp; <span>No se hizo una selección</span></li>
      <!-- <li class="chosen-subject"><i class="fas fa-flask"></i>&nbsp; <span>No se hizo una selección</span></li> -->
      <li class="chosen-type"><i class="fas fa-university"></i>&nbsp; <span>No se hizo una selección</span></li>
      <li class="chosen-size"><i class="fas fa-users"></i>&nbsp; <span>No se hizo una selección</span></li>
    </ul>
    <header class="your-schools"><span>0</span> escuelas relevantes</header>

    <div class="error hide">
      Hay que seleccionar un estado.
    </div>
  </div>
  <!--/progress-box-->

  <div id="progress-box-mobile">
    <header class="your-schools"><span>0</span> escuelas relevantes</header>

    <div class="error hide">
      Hay que seleccionar un estado.
    </div>
  </div>
  <!--/mobile-progress-box-->

  <div id="page-header">
    <div id="ad-placeholder">
    </div>
    <img src="../images/_tuition-tracker-logo.png" alt="Tuition Tracker">


    <div id="deck">
      Revelar del costo verdadero de la universidad
    </div>
<!--     <div class="alert-search-container">
      <div class="alert-search alert-search-hidden" role="alert">
        &nbsp;
      </div>
    </div> -->
    <div id="search-bar" class="search-group">
      <div id="results"></div>
      <div class="ui-widget">
        <input id="tags" placeholder="Ej. Florida State University, FSU"/>
    </div>

    <div class="box"><button id="search" class="box"><span>BUSCAR</span></button></div>


  </div>
  <!--/page-header-->
  <div id="announcement">
    ¡Queremos escuchar de ti! Cuéntenos cómo estás utilizando Tuition Tracker y mándanos cualquier pregunta que tengas. Envíenos un correo a <a href="mailto:&#101;&#100;&#105;&#116;&#111;&#114;&#064;&#104;&#101;&#099;&#104;&#105;&#110;&#103;&#101;&#114;&#114;&#101;&#112;&#111;&#114;&#116;&#046;&#111;&#114;&#103;">&#101;&#100;&#105;&#116;&#111;&#114;&#064;&#104;&#101;&#099;&#104;&#105;&#110;&#103;&#101;&#114;&#114;&#101;&#112;&#111;&#114;&#116;&#046;&#111;&#114;&#103;</a> 
    o envíanos un mensaje de texto al <a href="sms:+12128708954">+1 (212) 870-8954</a>.
  </div>
</section>
<!--/content-well-->

<section id="intro-btns">
  <div id="btn-container">
    <div class="btn selected-btn" data-tab="tab-1"><span>Buscar</span> <div class="inline-text"> una universidad</div><i class="fas fa-search"></i></div>
    <div class="btn" data-tab="tab-2"><span>Acerca</span> <div class="inline-text"> de la herramienta</div><i class="fas fa-info-circle"></i></div>
    <div class="btn" data-tab="tab-3"><span>Descarga</span> <div class="inline-text"> los datos</div><i class="fas fa-download"></i></div>
  </div>
</section>
<!--/intro-btns-->

<section class="download-section tab-content" id="tab-3">

    <div id="download-data">

      <ul id="download-csvs">
        <a href="../data/download/sticker-price.xlsx"><li><i class="fas fa-file-excel"></i>&nbsp;Precio de etiqueta</li></a>
        <a href="../data/download/net-price.xlsx"><li><i class="fas fa-file-excel"></i>&nbsp;Precio neto</li></a>
        <a href="../data/download/grad-rate.xlsx"><li><i class="fas fa-file-excel"></i>&nbsp;Tasas de graduación</li></a>
        <a href="../data/download/retention.xlsx"><li><i class="fas fa-file-excel"></i>&nbsp;Tasas de retención</li></a>
      </ul>
      <!--/download-csvs-->
      <br/><br/>



    </div>
    <!--/download-data-->


</section>
<!--/download-section-->

<section class="about-section tab-content" id="tab-2">

    <div id="credits">
      <div class="credit">
        <a href="http://hechingerreport.org/"><img src="../images/_hechinger-logo.png" width="200"></a>
      </div>
      <div class="credit-desc">
        <p><strong>El Tuition Tracker</strong> es una herramienta interactiva que muestra la relación entre la matrícula publicada y los costos reales de asistir a la universidad. Los estudiantes pueden comparar universidades utilizando el nivel de ingresos de su hogar para ver cuánto han pagado estudiantes como ellos en el pasado.</p>
      </div>
    </div>

    

    <div id="methodology">
      <p>
        Las universidades también se pueden comparar basado en las  tasas de graduación, que muestra la probabilidad de que un estudiante complete exitosamente su carrera a tiempo,  un factor importante en la asequibilidad.
      </p>
      <p>El Tuition Tracker fue relanzado en el otoño de 2019 utilizando datos históricos para pronosticar los costos universitarios. Actualmente, la herramienta permite a los usuarios ver una estimación de lo que pueden pagar para ir a la universidad de su elección en el año académico 2024-25. Otros datos históricos, como las tasas de retención y finalización, se actualizaron en abril de 2024 utilizando las cifras disponibles más recientes.
      </p>

      <p>El Tuition Tracker utiliza cookies para un rendimiento óptimo. Ni el Tuition Tracker ni The Hechinger Report conservan registros de tus datos personales ni respuestas a preguntas sobre ingresos.</p>

      <p><strong>Para enviar preguntas o reportar  problemas con los datos, envía un correo electrónico a <a href='mailto&#58;&#104;e&#99;%68in&#103;e&#114;&#64;%&#54;8e&#37;6&#51;&#37;68ing%65&#114;report&#46;o%72&#103;'>&#104;&#101;chin&#103;&#101;r&#64;hechi&#110;g&#101;rreport&#46;org</a>.</strong></p>

      <div class="about-social"><a class="methods-link" href="https://twitter.com/hechingerreport" target="_blank"><i class="fab fa-twitter"></i>&nbsp;Siga <em>The Hechinger Report</em> on Twitter</a></div>

        <strong>DATOS Y METODOLOGÍA:</strong>
        <p>El Tuition Tracker funciona con datos de U.S. Department of Education de IPEDS, el Integrated Postsecondary Education Data System, un servicio proporcionado por el National Center for Education Statistics. Las instituciones analizadas son todas facultades y universidades con sede en EE.UU. que otorgan títulos universitarios y tienen estudiantes de tiempo completo por primera vez.</p>

        <p>Los precios son para estudiantes de primer año. Los precios proyectados para cada institución se calcularon tomando la tasa de crecimiento anual compuesta durante el período de 2012-13 a 2022-23, utilizando datos brutos del IPEDS y luego proyectando esa tasa desde el precio de etiqueta de 2022-23 hasta el año académico 2024-25. Las instituciones sin años consecutivos de datos que se remontan a 2012-13 no tendrán precios proyectados. Las proyecciones de precios netos promedio se determinan aplicando la tasa de descuento para cada nivel de ingreso en el último año histórico en que estos datos estuvieron disponibles.</p>

        <p>Las tasas de graduación, retención y porcentaje de estudiantes que pagan el precio de etiqueta, se derivan de los datos del IPEDS sobre nuevos estudiantes de primer año.</p>

        <p>Los datos sobre características institucionales, tasa de aceptación e inscripción por raza/etnicidad y género se publican tal como se proporcionan en el IPEDS.</p>

      <p style="font-size:14px">*Los datos de 2021-22 se consideran provisionales, pero se han sometido a los procedimientos de control de calidad del NCES.</p>

    </div>
    <!--/methodology-->
    <div class="icon-credit">
      Iconos de Amy Morgan, Katya Prokofyeva, Becris, Doub.co, AomAm and Rob Crosswell via The Noun Project.
    </div>
  </section>
  <!--/about-section-->

<form class="progress-trigger search-schools tab-content" id="tab-1">
    <section id="school-map-section" class="form-section">
      <div class="expander-front-page">
      <div id="school-map-section-inner">
      <header class="section-title"><span class="number"><i class="fas fa-thumbtack"></i></span> <span class="text">¿Dónde quieres ir?</span>
        </header>
        <span id="subhead-text">Selecciona uno o más estados para buscar</span>

      <div class="map-dropdown">
        <select id="states">
          <option value="" selected>Selecciona un estado</option>
          <option value="AL">Alabama</option>
          <option value="AK">Alaska</option>
          <option value="AZ">Arizona</option>
          <option value="AR">Arkansas</option>
          <option value="CA">California</option>
          <option value="CO">Colorado</option>
          <option value="CT">Connecticut</option>
          <option value="DE">Delaware</option>
          <option value="DC">District of Columbia</option>
          <option value="FL">Florida</option>
          <option value="GA">Georgia</option>
          <option value="HI">Hawaii</option>
          <option value="ID">Idaho</option>
          <option value="IL">Illinois</option>
          <option value="IN">Indiana</option>
          <option value="IA">Iowa</option>
          <option value="KS">Kansas</option>
          <option value="KY">Kentucky</option>
          <option value="LA">Louisiana</option>
          <option value="ME">Maine</option>
          <option value="MD">Maryland</option>
          <option value="MA">Massachusetts</option>
          <option value="MI">Michigan</option>
          <option value="MN">Minnesota</option>
          <option value="MS">Mississippi</option>
          <option value="MO">Missouri</option>
          <option value="MT">Montana</option>
          <option value="NE">Nebraska</option>
          <option value="NV">Nevada</option>
          <option value="NH">New Hampshire</option>
          <option value="NJ">New Jersey</option>
          <option value="NM">New Mexico</option>
          <option value="NY">New York</option>
          <option value="NC">North Carolina</option>
          <option value="ND">North Dakota</option>
          <option value="OH">Ohio</option>
          <option value="OK">Oklahoma</option>
          <option value="OR">Oregon</option>
          <option value="PA">Pennsylvania</option>
          <option value="RI">Rhode Island</option>
          <option value="SC">South Carolina</option>
          <option value="SD">South Dakota</option>
          <option value="TN">Tennessee</option>
          <option value="TX">Texas</option>
          <option value="UT">Utah</option>
          <option value="VT">Vermont</option>
          <option value="VA">Virginia</option>
          <option value="WA">Washington</option>
          <option value="WV">West Virginia</option>
          <option value="WI">Wisconsin</option>
          <option value="WY">Wyoming</option>
        </select>
        <div class="down-arrow"></div>
      </div>

      <div class="map-container">


        <div id="map">

          <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="800" height="700" viewBox="0 0 1280 1000" xmlns="http://www.w3.org/2000/svg">
<g id="outlines" transform="translate(-20,100)">

 <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
  
  <rect id="ME" height="90" width="90" y="35" x="1092" stroke-width="2.5" stroke="#000" fill="#FFCF31" alt="Maine"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="80" x="1137">Maine
  </text>

  <rect id="NH" height="90" width="90" y="131" x="1092" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="176" x="1137">N.H.
  </text>
  <rect id="VT" height="90" width="90" y="131" x="995" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="176" x="1040">Vt.
  </text>
  <rect id="WA" height="90" width="90" y="227" x="123" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="272" x="168">Wash.
  </text>
  <rect id="ID" height="90" width="90" y="227" x="219" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="272" x="264">Idaho
  </text>
  <rect id="MT" height="90" width="90" y="227" x="316" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="272" x="361">Mont.
  </text>
  <rect id="ND" height="90" width="90" y="227" x="413" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
    <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="272" x="458">N.D.
  </text>
  <rect id="MN" height="90" width="90" y="227" x="510" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="272" x="555">Minn.
  </text>
  <rect id="IL" height="90" width="90" y="227" x="607" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="272" x="652">Ill.
  </text>
  <rect id="WI" height="90" width="90" y="227" x="704" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="272" x="749">Wisc.
  </text>
  <rect id="MI" height="90" width="90" y="227" x="801" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="272" x="846">Mich.
  </text>
  <rect id="NY" height="90" width="90" y="227" x="898" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="272" x="943">N.Y.
  </text>
  <rect id="MA" height="90" width="90" y="227" x="995" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="272" x="1040">Mass.
  </text>
  <rect id="RI" height="90" width="90" y="227" x="1092" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="272" x="1137">R.I.
  </text>
  <rect id="OR" height="90" width="90" y="323" x="123" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="369" x="168">Ore.
  </text>
  <rect id="NV" height="90" width="90" y="323" x="219" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="369" x="265">Nev.
  </text>
  <rect id="WY" height="90" width="90" y="323" x="316" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="369" x="362">Wyo.
  </text>
  <rect id="SD" height="90" width="90" y="323" x="413" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="369" x="459">S.D.
  </text>
  <rect id="IA" height="90" width="90" y="323" x="510" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="IA" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="369" x="556">Iowa
  </text>
  <rect id="IN" height="90" width="90" y="323" x="607" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="369" x="653">Ind.
  </text>
  <rect id="OH" height="90" width="90" y="323" x="704" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="369" x="750">Ohio
  </text>
  <rect id="PA" height="90" width="90" y="323" x="801" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="369" x="847">Pa.
  </text>
  <rect id="NJ" height="90" width="90" y="323" x="898" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="369" x="944">N.J.
  </text>
  <rect id="CT" height="90" width="90" y="323" x="995" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="369" x="1041">Conn.
  </text>
  <rect id="CA" height="90" width="90" y="419" x="123" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="466" x="168">Calif.
  </text>
  <rect id="UT" height="90" width="90" y="419" x="219" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="466" x="265">Utah
  </text>
  <rect id="CO" height="90" width="90" y="419" x="316" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="466" x="362">Colo.
  </text>
  <rect id="NE" height="90" width="90" y="419" x="413" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="466" x="459">Neb.
  </text>
  <rect id="MO" height="90" width="90" y="419" x="510" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="466" x="556">Mo.
  </text>
  <rect id="KY" height="90" width="90" y="419" x="607" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700" y="466" x="653">Ky.
  </text>
  <rect id="WV" height="90" width="90" y="419" x="704" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="466" x="750">W.Va.
  </text>
  <rect id="VA" height="90" width="90" y="419" x="801" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="466" x="847">Va.
  </text>
  <rect id="MD" height="90" width="90" y="419" x="898" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="466" x="944">Md.
  </text>
  <rect id="DE" height="90" width="90" y="419" x="995" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="466" x="1041">Del.
  </text>
  <rect id="AZ" height="90" width="90" y="515" x="219" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="563" x="265">Ariz.
  </text>
  <rect id="NM" height="90" width="90" y="515" x="316" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="563" x="362">N.M.
  </text>
  <rect id="KS" height="90" width="90" y="515" x="413" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="563" x="459">Kan.
  </text>

  <rect id="AR" height="90" width="90" y="515" x="510" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="563" x="556">Ark.
  </text>
  <rect id="TN" height="90" width="90" y="515" x="607" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="563" x="653">Tenn.
  </text>
  <rect id="NC" height="90" width="90" y="515" x="704" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="563" x="750">N.C.
  </text>
  <rect id="SC" height="90" width="90" y="515" x="801" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="563" x="847">S.C.
  </text>
  <rect id="DC" font-weight="700"height="90" width="90" y="515" x="898" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="563" x="944">D.C.
  </text>
  <rect id="OK" height="90" width="90" y="611" x="413" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="660" x="459">Okla.
  </text>
  <rect id="LA" height="90" width="90" y="611" x="510" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="660" x="556">La.
  </text>
  <rect id="MS" height="90" width="90" y="611" x="607" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="660" x="653">Miss.
  </text>
  <rect id="AL" height="90" width="90" y="611" x="704" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="660" x="750">Ala.
  </text>
  <rect id="GA" height="90" width="90" y="611" x="801" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700" y="660" x="847">Ga.
  </text>
  <rect id="TX" height="90" width="90" y="708" x="413" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="757" x="458">Texas
  </text>
  <rect id="FL" height="90" width="90" y="708" x="897" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="757" x="944">Fla.
  </text>
  <rect id="AK" height="90" width="90" y="132" x="28" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700"y="177" x="73">Alaska
  </text>
  <rect id="HI" height="90" width="90" y="609" x="30" stroke-width="2.5" stroke="#000" fill="#FFCF31"/>
  <text class="state-text" text-anchor="middle" alignment-baseline="middle" font-family="Lato" font-size="20" font-weight="700" y="654" x="75">Hawaii
  </text>
 </g>
</svg>

        </div>


        <!--/map-->
      </div>
      <!--/map-container-->
      </div>
    </div>
    </section>
    <!--/school-map-section-->


    <section id="school-degree-section" class="form-section">
      <div class="expander-front-page">
      <a class="expander-trigger expander-hidden">
      <header class="section-title"><span class="number"><i class="fas fa-graduation-cap"></i></span> <span class="text">¿Qué tipo de título quieres?</span></header></a>
      <div class="expander-content">
      <div class="checkbox-wrapper">
        <div class="boxes" id="choose-degree">
          <input class="degree chk" type="checkbox" value="4-year" id="box-4">
          <label for="box-4">Título de cuatro años</label>

          <input class="degree chk" type="checkbox" value="2-year" id="box-5">
          <label for="box-5">Título de dos años</label>

        </div>
      </div>
    </div>
  </div>

    </section>
    <!--/school-degree-section-->
    <!-- <section id="school-degree-section" class="form-section">
      <div class="expander-front-page">
      <a class="expander-trigger expander-hidden">
      <header class="section-title"><span class="number"><i class="fas fa-flask"></i></span> <span class="text">¿Qué asignatura quieres estudiar?</span></header></a>
      <div class="expander-content">
        <div id="search-bar-subject" class="search-group">
          <div id="results-subject"></div>
          <div class="ui-subject-widget" id="tag-group">
            <input id="input_tagator1" name="input_tagator1"/>
        </div>
      </div>
    </div>

    </section> -->





    <section id="school-type-section" class="form-section">
      <div class="expander-front-page">
      <a class="expander-trigger expander-hidden">
      <header class="section-title"><span class="number"><i class="fas fa-university"></i></span> <span class="text">¿Universidad pública, privada o con fines de lucro?
        <span class="info-btn" data-tooltip="Las universidades públicas y universidades de comunidad son controladas por los estados. Las universidades privadas y sin fines de lucro son independientes del estado. Las universidades privadas con fines de lucro son responsables antes sus accionistas o son de propiedad privada.
        " data-tooltip-position="right">&nbsp;<i class="far fa-question-circle"></i></span></span></header></a>
      <div class="expander-content">
      <div class="checkbox-wrapper">
        <div class="boxes" id="choose-type">
          <input name="school-control" class="type chk" type="checkbox" value="public" id="box-1">
          <label for="box-1">Pública</label>

          <input name="school-control" class="type chk" type="checkbox" value="private" id="box-2">
          <label for="box-2">Privada</label>

          <input name="school-control" class="type chk" type="checkbox" value="for-profit" id="box-3">
          <label for="box-3">Con fines de lucro</label>
        </div>
      </div>
    </div>
  </div>

    </section>
    <!--/school-type-section-->


    <section id="school-size-section" class="form-section">
      <div class="expander-front-page">
      <a class="expander-trigger expander-hidden">
      <header class="section-title"><span class="number"><i class="fas fa-users"></i></span> <span class="text">¿A qué tamaño de escuela quieres ir?<span class="info-btn" data-tooltip="Basado en la inscripción total de estudiantes de pregrado y estudiantes de posgrado" data-tooltip-position="right">&nbsp;<i class="far fa-question-circle"></i></span></span></header></a>
      <div class="expander-content">
      <div class="checkbox-wrapper">
        <div class="boxes" id="choose-size">
          <input name="school-size" class="size chk" type="checkbox" value="0,5000" id="box-6">
          <label for="box-6">Menos que 5,000</label>

          <input name="school-size" class="size chk" type="checkbox" value="5001,10000" id="box-7">
          <label for="box-7">De 5,000 a 10,000</label>

          <input name="school-size" class="size chk" type="checkbox" value="10001,15000" id="box-8">
          <label for="box-8">De 10,000 a 15,000</label>
          <input name="school-size" class="size chk" type="checkbox" value="15001,999999" id="box-9">
          <label for="box-9">Más que 15,000</label>
        </div>
      </div>
      </div>
    </div>
    </section>
    <section id="school-urbanization-section" class="form-section">
<!--       <div class="expander-front-page">
      <a class="expander-trigger expander-hidden"><header class="section-title"><span class="number"><i class="fas fa-tree"></i></span> <span class="text">What kind of campus do you want to live on?</span></header></a>
      <div class="expander-content">
        <div class="checkbox-wrapper">
          <div class="boxes" id="choose-urbanization">
            <input name="school-urbanization" class="urbanization chk" type="checkbox" value="urban" id="box-10">
            <label for="box-10">Urban</label>

            <input name="school-urbanization" class="urbanization chk" type="checkbox" value="suburban" id="box-11">
            <label for="box-11">Suburban</label>

            <input name="school-urbanization" class="urbanization chk" type="checkbox" value="rural" id="box-12">
            <label for="box-12">Rural</label>
          </div>
        </div>
      </div>
    </div>
 -->
      <div class="filter-search box">
        <button id="filter-search" data-function="find" class="filter-search box"><span>BUSCAR UNIVERSIDADES</span></button>
      </div>

    </section>
    <!--/school-size-section-->



  <div class="form-section" id="school-results">

    <section id="search-results">

      <div class="results-cta">O seleccione una universidad para continuar</div>

      <ul class="striped-list" id="schools-list"></ul>

    </section>
    <!--/search-results-->

  </div>
  <!--/school-results-->

</form>
<!--/search-schools-->

<script type="text/javascript">

    // Toggle fixed "progress" box
    function toggleProgressBox(){

        $('#progress-box, #progress-box-mobile').hide();

        const progressTrigger = $(".progress-trigger").offset().top;

        $(window).scroll(function() {
            if ($(window).scrollTop() > progressTrigger)
            {
                $("#progress-box, #progress-box-mobile").slideDown('slow');
                $("#progress-box, #progress-box-mobile").css('position','fixed'); //reached the trigger - show div
            } else {
                $("#progress-box, #progress-box-mobile").slideUp('slow');
            }

        }); // end winndow.scroll
    }
    toggleProgressBox();

</script>



  </article>
  <div>
  

  
  </div>

  <section class="clearfix" id="footer">
    <div class="ftr-bottom">
 <!-- Site Nav & Copyright -->
<div class="site-nav-copyright">
  <p class="ftr-info-msg">The Hechinger Report cubre la desigualdad y la innovación en educación con periodismo profundo que utiliza las investigaciones, los datos y las historias de las aulas y de los campus para mostrar cómo la educación se puede mejorar y por qué importa.</p>
  <nav class="ftr-site-nav">

    <ul class="ftr-nav-items l-ftr-nav" style="padding-left:40px">

        <li class="ftr-nav-item">
          <a class="ftr-nav-link" href="https://hechingerreport.org/about/" previewlistener="true">Sobre nosotros</a>
        </li>
                <li class="ftr-nav-item">
          <a class="ftr-nav-link" href="https://hechingerreport.org/our-mission/" previewlistener="true">Nuestra misión</a>
        </li>
                <li class="ftr-nav-item">
          <a class="ftr-nav-link" href="https://hechingerreport.org/contact/" previewlistener="true">Contáctanos</a>
        </li>
      
    </ul> <!-- /ftr-nav-items -->
  </nav> <!-- .ftr-site-nav -->
    <p class="ftr-copyright-msg">
      Copyright Ⓒ 2024 by Teachers College at Columbia University. All rights reserved.
    </p>
    <p class="ftr-copyright-msg">Este sitio usa cookies y otras herramientas y tecnologías para entender las experiencias de nuestros visitantes. Si sigues usando este sitio, consientes que Teachers College, Columbia University use los cookies y las tecnologías parecidas, según el <a href="http://www.tc.columbia.edu/policylibrary/Cookie_Notice" previewlistener="true">Letrero de los Cookies de los Sitios Web de Teachers College, Columbia University.</a></p>
  </div> <!-- .site-nav-copyright -->
  </div>
  </section>

    <script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="../js/scripts-bundle.js?v=3"></script>

  
<script type="text/javascript"></script>





  
<script type="text/javascript">
  var storyTitle = "Tuition Tracker", // headline in tweet card
  storyURL = "http://www.tuitiontracker.org",
  leadText = "Revelar del costo verdadero de la universidad con Tuition Tracker, una herramienta de The Hechinger Report.", //description in tweet card
  storyIMG = "http://www.tuitiontracker.org/images/tuitiontracker.gif",
  storyAuthor = "Peter D&#39;Amato",
  twitterTag = ""
</script>


</body>
</html>