            <div class="promo-hdr" id="oostate-block">
              <div id="price" style="padding-bottom:50px;">
                <div class="price-header">Precio para residentes de otros estados (2025-26)</div>
                    <div class="price-label" id="ooo-sticker-price" style="width:100%;text-align:center"></div>
                    <div class="fine-print">Lo que proyectamos se anunciará como el costo de asistencia para estudiantes fuera del estado viviendo 
                      <span class="sticker-living">on-campus</span> 
                    </div>
              </div>
          
        </div> <!-- /promo-inner -->
        <div class="promo-bdr promo-bdr--bottom"></div> 